html {
  font-family: "Montserrat", sans-serif;
}
body {
  text-align: center;
  background: #c0d2d4;
}

header h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  color: #fff;
  background: #2ec2b0;
  font-weight: 900;
  font-size: 300%;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}
h1 {
  color: #2ec2b0;
  font-family: "Montserrat", sans-serif;
}

.food {
  background-color: #fff;
  width: 240px;
  padding: 32px;
  border-radius: 20px;
  margin: 4rem auto;
  justify-content: space-between;
}

.foodmain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4rem auto;
  max-width: 90%;
  margin-top: 10px;
}

.food h1 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  font-weight: 600;
  font-size: 20px;
}

.food p {
  text-align: center;
  font-size: 90%;
  margin: 1rem auto 0 auto;
  letter-spacing: 0.33px;
  max-width: 15rem;
}

img {
  height: 130px;
  width: 130px;
  margin: auto;
}

footer {
  color: black;
  height: 2.5rem;
}
